<!DOCTYPE html>
<head>
		<title></title>
		<link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed" rel="stylesheet">

		<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
		<script src="https://accounts.google/gsi/client" async defer></script>
</head>
<body>
	<nav>
		<ul>
			<span class="login-status">
				{{#if user}}
				Logged in as: {{user.username}}
				<form method="POST" action="/logout" id="logout-form"> 
					<button>logout</button>
				</form>
				{{else}}
				<li><a href="/register">Register</a></li>
				<li><a href="/login">Login</a></li>
				{{/if}}
			</span>
		</ul>
	</nav>

<style>
</style>
<div id="container">
	<header>
		<div class="logo">
			<div class="image">
				<a href="/"><img src="/img/otter.gif" alt="otter.gif"></a>
			</div>
			<div class="title">
				<h1>DIVE DEEPER</h1>
				<h3>build deeper connections with people.</h3>
			</div>
		</div>
			
	</header>
	<nav>
		<ul>
			<li><a href="/deck">All Decks</a></li>
			<li><a href="/deck/create">Create New Deck</a></li>
			{{#if deck}}
				{{#unless deck.isPublic}}
				<li><a href="/deck/{{deck.name}}/addCard">Add Card</a></li>
				{{!-- <li><a href="/deck/{{deck.name}}/delete">Delete Deck</a></li> --}}
				<li>
					<a>
						<form action="/deck/{{deck.name}}/delete" method="post">
							<button type="submit" class="deleteButton">Delete Deck</button>
						</form>
					</a>
				</li>
				{{/unless}}
			{{/if}}
		</ul>
	</nav>

	<div id="content">
		{{{ body }}}
	</div>
</div>
</body>
</html>


