<!DOCTYPE html>
<head>
		<title></title>
		<link href="https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed" rel="stylesheet">

		<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>

	<nav>
		<ul>
			<span class="login-status">
				{{#if user}}
				Logged in as: {{user.username}}
				<form method="POST" action="/logout" id="logout-form"> 
					<button>logout</button>
				</form>
				{{else}}
				<li><a href="/register">Register</a></li>
				<li><a href="/login">Login</a></li>
				{{/if}}
			</span>
		</ul>
	</nav>

<style>
</style>
<div id="container">
	<header>
			<h1>DIVE DEEPER</h1>
			<h3>build deeper connections with people.</h3>
	</header>
	<nav>
		<ul>
			<li><a href="/deck">All Decks</a></li>
			<li><a href="/deck/create">Create New Deck</a></li>
			{{#if deck}}
				<li><a href="/deck/{{deck.name}}/addCard">Add Card</a></li>
				{{!-- <li><a href="/deck/{{deck.name}}/delete">Delete Deck</a></li> --}}
				{{!-- <li>
						<form action="/deck/{{deck.name}}/delete" method="post">
							<button type="submit" class="deleteButton">Delete Deck</button>
						</form>
					
				</li> --}}
			{{/if}}
		</ul>
	</nav>

	<div id="content">
		{{{ body }}}
	</div>
</div>
</body>
</html>


